<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Haidar UI</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="font/css/all.min.css">
    <link rel="icon" href="E:\web design\Best Teamplate\image\logo.png">
</head>

<body>
    <nav>
        <div class="container">
            <img src="./image/logo.png" class="logo">
            <div class="search-bar">
                <span class="fa fa-search icons"></span>
                <input type="search" name="search" placeholder="Search">
            </div>
            <div class="profile-area">
                <div class="theme-btn">
                    <span class="fa fa-sun icons active"></span>
                    <span class="fa fa-moon icons"></span>
                </div>
                <div class="profile">
                    <div class="profile-photo">
                        <img src="./image/user.jpg">
                    </div>
                    <h5>Haidar</h5>
                    <span class="fa fa-angle-down icons"></span>
                </div>
                <button id="menu-btn">
                    <span class="fa fa-home icons"></span>
                </button>
            </div>
        </div>
    </nav>
    <!-- end navbar -->
    <main>
        <aside>
            <button id="close-btn">
                <span class="fa fa-times-circle icons"></span>
            </button>
            <div class="sidebar">
                <a href="./index.html">
                    <span class="fa fa-home spancons"></span>
                    <h4>Home</h4>
                </a>
                <a href="./table.html">
                    <span class="fa fa-home spancons"></span>
                    <h4>Table</h4>
                </a>
                <a href="./forms.html" class="active">
                    <span class="fa fa-home spancons"></span>
                    <h4>Forms</h4>
                </a>
            </div>
            <div class="updates">
                <span class="fa fa-cloud-upload-alt spancons"></span>
                <h4>Updates Available</h4>
                <p>Security Updates</p>
                <p>Security Updates</p>
                <a href="#">Update Now</a>
            </div>
        </aside>
        <section class="middle">
            <div class="header">
                <h1>Overview</h1>
                <input type="date">
            </div>
            <div class="post_form">
                <div class="form">
                    <input class="form_input" autocomplete="off" id="email" type="text" placeholder=" ">
                    <label class="form_label" for="email">Email</label>
                </div>
                <div class="form">
                    <input class="form_input" autocomplete="off" id="username" type="text" placeholder=" ">
                    <label class="form_label" for="username">username</label>
                </div>
                <div class="form">
                    <input class="form_input" autocomplete="off" id="photo" type="file" placeholder=" ">
                    <label class="form_label" for="photo">Photo</label>
                </div>
                <div class="form">
                    <input class="form_input" autocomplete="off" id="Date" type="date" placeholder=" ">
                    <label class="form_label" for="Date">date</label>
                </div>
                <div class="form">
                    <select class="form_input" name="gender" id="gender">
                        <option value="">Male</option>
                        <option value="">Female</option>
                    </select>
                    <label class="form_label" for="gender">Gender</label>
                </div>
                <button class="btn-save">Save</button>
            </div>
        </section>
        <section class="right">
            <div class="investments">
                <div class="header">
                    <h2>Investment</h2>
                    <a href="#">More &nbsp;<span class="fa fa-caret-square-right spancons"></span></a>
                </div>
                <div class="investment">
                    <img src="./image/user.jpg" alt="">
                    <h4>Uniliver</h4>
                    <div class="date-time">
                        <p>6 Qaws 1401</p>
                        <small class="text-muted">9:30 PM</small>
                    </div>
                    <div class="bonds">
                        <p>1401</p>
                        <small class="text-muted">Bonds</small>
                    </div>
                    <div class="amount">
                        <p>ف454,5</p>
                        <small class="success">45%</small>
                    </div>
                </div>
                <!-- end of sections -->
                <div class="investment">
                    <img src="./image/user.jpg" alt="">
                    <h4>Uniliver</h4>
                    <div class="date-time">
                        <p>6 Qaws 1401</p>
                        <small class="text-muted">9:30 PM</small>
                    </div>
                    <div class="bonds">
                        <p>1401</p>
                        <small class="text-muted">Bonds</small>
                    </div>
                    <div class="amount">
                        <p>ف454,5</p>
                        <small class="danger">-45%</small>
                    </div>
                </div>
                <!-- end of sections -->
                <div class="investment">
                    <img src="./image/user.jpg" alt="">
                    <h4>Uniliver</h4>
                    <div class="date-time">
                        <p>6 Qaws 1401</p>
                        <small class="text-muted">9:30 PM</small>
                    </div>
                    <div class="bonds">
                        <p>1401</p>
                        <small class="text-muted">Bonds</small>
                    </div>
                    <div class="amount">
                        <p>ف454,5</p>
                        <small class="warning">0%</small>
                    </div>
                </div>
                <!-- end of sections -->
                <div class="investment">
                    <img src="./image/user.jpg" alt="">
                    <h4>Uniliver</h4>
                    <div class="date-time">
                        <p>6 Qaws 1401</p>
                        <small class="text-muted">9:30 PM</small>
                    </div>
                    <div class="bonds">
                        <p>1401</p>
                        <small class="text-muted">Bonds</small>
                    </div>
                    <div class="amount">
                        <p>ف454,5</p>
                        <small class="danger">-45%</small>
                    </div>
                </div>
                <!-- end of sections -->
            </div>
            <!-- End of right -->
            <div class="recent-transactions">
                <div class="header">
                    <h2>Recent Transactions </h2>
                    <a href="#">More &nbsp;<span class="fa fa-caret-square-right spancons"></span></a>
                </div>
                <div class="transaction">
                    <div class="service">
                        <div class="icon bg-purple-light">
                            <span class="fa fa-home spancons"></span>
                        </div>
                        <div class="details">
                            <h4>Music</h4>
                            <p>6 Qaws 1401</p>
                        </div>
                    </div>
                    <div class="card-details">
                        <div class="card bg-danger">
                            <img src="./image/test.png" alt="">
                        </div>
                        <div class="details">
                            <p>*3435</p>
                            <small class="text-muted">Credit Card</small>
                        </div>
                    </div>
                    <h4>ف50</h4>
                </div>
                <!----------------------------- end transaction ------------------------------->
                <div class="transaction">
                    <div class="service">
                        <div class="icon bg-purple-light">
                            <span class="fa fa-home spancons"></span>
                        </div>
                        <div class="details">
                            <h4>Music</h4>
                            <p>6 Qaws 1401</p>
                        </div>
                    </div>
                    <div class="card-details">
                        <div class="card bg-success">
                            <img src="./image/test.png" alt="">
                        </div>
                        <div class="details">
                            <p>*3435</p>
                            <small class="text-muted">Credit Card</small>
                        </div>
                    </div>
                    <h4>ف50</h4>
                </div>
                <!----------------------------- end transaction ------------------------------->
                <div class="transaction">
                    <div class="service">
                        <div class="icon bg-purple-light">
                            <span class="fa fa-home spancons"></span>
                        </div>
                        <div class="details">
                            <h4>Music</h4>
                            <p>6 Qaws 1401</p>
                        </div>
                    </div>
                    <div class="card-details">
                        <div class="card bg-primary">
                            <img src="./image/test.png" alt="">
                        </div>
                        <div class="details">
                            <p>*3435</p>
                            <small class="text-muted">Credit Card</small>
                        </div>
                    </div>
                    <h4>ف50</h4>
                </div>
                <!----------------------------- end transaction ------------------------------->
                <div class="transaction">
                    <div class="service">
                        <div class="icon bg-purple-light">
                            <span class="fa fa-home spancons"></span>
                        </div>
                        <div class="details">
                            <h4>Music</h4>
                            <p>6 Qaws 1401</p>
                        </div>
                    </div>
                    <div class="card-details">
                        <div class="card bg-warning">
                            <img src="./image/test.png" alt="">
                        </div>
                        <div class="details">
                            <p>*3435</p>
                            <small class="text-muted">Credit Card</small>
                        </div>
                    </div>
                    <h4>ف50</h4>
                </div>
                <!----------------------------- end transaction ------------------------------->
            </div>
            <!----------------------------- end transactions ---------------------------------->
        </section>
    </main>
    <script src="package/dist/chart.js"></script>
    <script src="./index.js"></script>
</body>
</html>