{% extends 'index.html' %}
<!--------------- END OF ASIDE ---------------->
{% block main %}
<main>
    {% include 'logo.html' %}
    <div class="date">
        <input type="date">
    </div>
    <!---------- END OF insights ---------->
    <div class="information">
        <div class="inline">

            <div class="info-student">
                <h3>Class_ID:<span class="success">{{group.id}}</span></h3>
                {% for i in teachers %}
                <h3>Partner's: <span
                        class="success">{{i.id_teacher.admin.first_name}}&nbsp;{{i.id_teacher.admin.last_name}}</span>
                </h3>
                {% endfor %}
                <h3>Lavel: <span class="success">{{group.subject}}</span> </h3>
                <h3>Total of Students: <span class="success">{{students_count}}</span></h3>

            </div>
            <div class="info-student">
                <h3>Start Time: <span class="success">{{group.start_time}}</span></h3>
                <h3>Total of Fees: <span class="success"> {{total_fees}} AF</span></h3>
                <h3>Start Date: <span class="success">{{group.start_date|date:"D d M Y" }}</span></h3>
                <h3>End Date: <span class="success">{{group.end_date|date:"D d M Y" }}</span></h3>
                <h3>Numner of Class: <span class="success">{{group.number_class}}</span></h3>
            </div>
        </div>
    </div>

    <div class="recent-order">
        <form action="{% url 'present' %}" method="post">
            {% csrf_token %}
            <table>
                <thead>
                <tbody>
                    <tr>
                        <th>Student_ID</th>
                        <th>Student</th>
                        <th>Father</th>
                        <th>Present</th>
                        <th>Pyment</th>
                        <th>Remainder</th>
                    </tr>
                    {% for i in students %}
                        <tr>
                            <td>{{i.id_student.id}}</td>
                            <td><a href="{% url 'student-class_info' i.id %}">{{i.id_student.first_name}} {{i.id_student.last_name}}</a></td>
                            <td>{{i.id_student.father_name}}</td>
                            <td class="success">
                                <input type="checkbox" id="present" name="pre{{forloop.counter}}" checked value="1">
                                <input type="number" hidden name="id{{forloop.counter}}" value="{{i.id}}">
                            </td>
                            <td>{{i.fees.fees}} AF</td>
                            <td class="danger">{{i.fees.baqi}}</td>
                            {% empty %}
                            <td>Sorry, no athletes in this list.</td>
                        </tr>
                    {% endfor %}
                    <input type="number" hidden name="total" value="{{students_count}}">
                    <input type="number" hidden name="ur" value="{{group.id}}">
                </tbody>
                </thead>
            </table>
            <a> <input class="present_btn center" type="submit" value="save"></a>
        </form>
    </div>
</main>
{% endblock main %}
<!--------------------- END OF MAIN ------------------------------>
{% block recent-updates %}
<div class="recent-updates">
    <h2>Settings</h2>
    <div class="updates center">
        <h3 class="primary">Option Box!</h3>
        <p>You can active and Deactive form heire,Set Mark Set activats show Score class Attendance.</p>
        <br>
        <form action="{% url 'finisht' %}" method="post">
            {% csrf_token %}
            <input type="number" hidden name="id_class" value="{{group.id}}">
            {% if group.active == '1' %}
            <input class="btn" type="submit" value="Deactive">
            {% else %}
            <input type="submit" value="Active">
            {% endif %}
        </form>
        <br>
        <a class="btn" href="{% url 'class-score' group.id %}">Set Score</a>
        <a class="btn" href="{% url 'class-activit' group.id %}">Set Activities</a>
        <a class="btn" href="{% url 'class-report' group.id %}">Show Score</a><br><br>
        <a class="btn" href="{% url 'attendance-show' group.id %}">Class Attendance</a>
    </div>
</div>
{% endblock recent-updates %}

{% block incom %}
<a href="{% url 'student-new' %}">
    <div class="item add-product">
        <div>
            <span class="fa fa-user-plus icons"></span>
            <h3>Register Student</h3>
        </div>
    </div>
</a>
{% endblock incom %}
