{% extends 'index.html' %}
{% block main %}
<main>
    {% include 'logo.html' %}
    <!---------- END OF insights ---------->
    <div class="recent-order">
        <table>
            <thead>
            <tbody>

                <rt>
                    <th>ID</th>
                    <th>Full Name</th>
                    <th>Phone</th>
                    <th>Register</th>
                    <th>Photo</th>
                </rt>
                {% for i in assistant %}
                <tr>
                    <td>{{i.id}}</td>
                    <td>{{i.admin.first_name}}&nbsp; {{i.admin.last_name}}</td>
                    <td class="primary">{{i.phone_one}}</td>
                    <td>{{i.admin.date_joined}}</td>
                    <td>
                        <a href="{% url 'assistant-see' i.id %}">
                            <div class="profile-photo">
                                {% if i.admin.profile_pic == "" %}
                                {% load static %}
                                <img src="{% static '/image/profile_user.png'%}">
                                {% else %}
                                {% load static %}
                                <img src="/{{i.admin.profile_pic }}" alt="Use Image">
                                {% endif %}
                            </div>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            </thead>
        </table>
        <div class="center">
            <div class="pagination">
                {% if assistant.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ assistant.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current next">
                    <a> Page</a> <a>{{ assistant.number }}</a> <a>of</a> <a>{{ assistant.paginator.num_pages }}</a>
                </span>

                {% if assistant.has_next %}
                <a href="?page={{ assistant.next_page_number }}">next</a>
                <a href="?page={{ assistant.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </div>
        </div>
    </div>
</main>
{% endblock main %}

{% block recent-updates %}
<div class="recent-updates">
    <h2>Search Teacher</h2>
    <div class="updates">
        <div class="input-add">
            <div class="select-class">
                <p class="primary">You can search by ID, Name and Phone Number!</p>
                <form action="{% url 'assistant'%}" method="post">
                {% csrf_token %}
                <input type="search" required name="search" placeholder="Teacher ID">
                <input type="submit" value="Search">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock recent-updates %}

{% block incom %}
<a href="{% url 'assistant-add' %}">
    <div class="item add-product">
        <div>
            <span class="fa fa-chalkboard-teacher icons"></span>
            <h3>Register Assistant</h3>
        </div>
    </div>
</a>
{% endblock incom %}
