{% extends 'index.html' %}

{% block main %}
<main>
    {% include 'logo.html' %}
    <div class="date">
        <input type="date">
    </div>
    <!---------- END OF insights ---------->
    <div class="recent-order">
        <h2>Update {% for i in teacher %}{{ i.admin.first_name }} {{i.admin.last_name}}{% endfor %}</h2>
        <div class="information">
             

            <form action="{% url 'assistant-doupdate'%}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="text" name="first_name" value="{% for i in assistant %}{{ i.admin.first_name }}{% endfor %}"
                    placeholder="First Name:">
                <input type="text" name="last_name" value="{% for i in assistant %}{{ i.admin.last_name }}{% endfor %}"
                    placeholder="Last Name:">
                <input type="text" name="father_name" value="{% for i in assistant %}{{ i.father_name }}{% endfor %}"
                    placeholder="Father Name:">
                <input type="email" name="email" value="{% for i in assistant %}{{ i.admin.email }}{% endfor %}"
                    placeholder="Email:">
                <input type="text" name="username" value="{% for i in assistant %}{{ i.admin.username }}{% endfor %}"
                    placeholder="Username:">
                <input type="password" name="password" placeholder="Fill Only if you Want to change password">
                <input type="text" name="phone" value="{% for i in assistant %}{{ i.phone_one }}{% endfor %}"
                    placeholder="Phone #1:">
                <input type="text" name="phone_tow" value="{% for i in assistant %}{{ i.phone_tow }}{% endfor %}"
                    placeholder="Phone #2:">
                <select name="degree_edu" required>
                    <option value="None">---- {% for i in assistant %}{{ i.degree_edu }}{% endfor %} ----</option>
                    <option value="School">School</option>
                    <option value="Bachelor">Bachelor</option>
                    <option value="Master">Master</option>
                    <option value="PHD">PHD</option>
                </select>
                <input type="text" name="idcord" value="{% for i in assistant %}{{ i.idcord }}{% endfor %}"
                    placeholder="NIC #:">
                <input type="text" name="assistant_id" hidden value="{% for i in assistant %}{{ i.admin.id }}{% endfor %}">
                <textarea name="address_one">{% for i in assistant %}{{ i.address_one }}{% endfor %}</textarea>
                <textarea name="address_tow">{% for i in assistant %}{{ i.address_tow }}{% endfor %}</textarea>
                <input type="file" name="profile_pic">
                <br>
                <input type="submit" value="Update">
            </form>
        </div>
    </div>
</main>
{% endblock main %}

{% block incom %}
<a href="{% url 'assistant-add' %}">
    <div class="item add-product">
        <div>
            <span class="fa fa-chalkboard-teacher icons"></span>
            <h3>Register Assistant</h3>
        </div>
    </div>
</a>
{% endblock incom %}

