<div class="sales-analytics">
    <h2>Exam Option</h2>
    <a href="{% url 'exam_add' %}">
        <div class="item offline">
            <div class="icon">
                <span class="fa fa-dice-four icons"></span>
            </div>
            <div class="right">
                <div class="info">
                    <h3>Level One</h3>
                    <small class="text-muted">Esay Exam</small>
                </div>
                <h5 class="danger">20%</h5> 
                <h3 class="primary">50</h3>
            </div>
        </div>
    </a>
    
    <a href="{% url 'exam-two' %}">
        <div class="item online">
            <div class="icon">
                <span class="fa fa-dice-five icons"></span>
            </div>
            <div class="right">
                <div class="info">
                    <h3>Level Two</h3>
                    <small class="text-muted">Medium Exam</small>
                </div>
                <h5 class="success">30%</h5>
                <h3><span class="primary">70</span></h3>
            </div>
        </div>
    </a>
    <a href="{% url 'exam-three' %}">
    <div class="item customers">
        <div class="icon">
            <span class="fa fa-dice-six icons"></span>
        </div>
        <div class="right">
            <div class="info">
                <h3>Level Three</h3>
                <small class="text-muted">Hart Exam</small>
            </div>
            <h5 class="success">50%</h5>
            <h3><span class="primary">90</span></h3>
        </div>
    </div>
    </a>
</div>