{% extends 'index.html' %}

{% block aside %}
{% load active_link_tags%}
<aside>
    {% block top_side %}
    <div class="top">
        <div class="logo">
            {% load static %}
            <img src="{% static './image/logo.png'%}">
            <h2>BAH<span class="danger">AR</span></h2>
        </div>
        <div class="close" id="close-btn">
            <span class="material-icons-sharp">&#9776;</span>
        </div>
    </div>
    {% endblock top_side %}
    <div class="sidebar">
        <a href="{% url 'oner'%}" class="icon-a">
            <span class="fa fa-home spancons"></span>
            <h3>Home</h3>
        </a>
        <a href="{% url 'qars'%}" class="icon-a {% active_link 'qars' 'active' %}">
            <span class="fa fa-money-bill-alt icons"></span>
            <h3>Remainder</h3>
        </a>
        <a href="{% url 'staff-all'%}" class="icon-a active">
            <span class="fa fa-user-tie  icons"></span>
            <h3>View Staff</h3>
        </a>
        <a href="{% url 'report-account'%}" class="icon-a {% active_link 'acounting' 'active' %}">
            <span class="fa fa-coins icons"></span>
            <h3>Acounting</h3>
        </a>
        <a href="{% url 'logout' %}" class="icon-a">
            <span class="fa fa-sign-out-alt icons"></span>
            <h3>Logout</h3>
        </a>
    </div>
</aside>

{% endblock aside %}

{% block main %}
<main>

    {% include 'logo.html' %}
    <div class="date">
        <input type="date">
    </div>

    <!---------- END OF insights ---------->
    <div class="information">
        <div class="inline">
            <div class="user-photo">
                {% if user.profile_pic == "" %}

                {% load static %}
                <img src="{% static './image/profile_user.png'%}">

                {% else %}
                <img src="/{{user.profile_pic}}">
                {% endif %}
            </div>
            <div class="info-student">
                <h3>ID:<span class="success"> {{ user.id }}</span></h3>
                <h3>Full Name: <span class="success">{{user.first_name}}&nbsp;{{user.last_name}}</span></h3>
                <h3>Father Name: <span class="success">{{user.staff.father_name}}</span> </h3>
                <h3>Username: <span class="success">{{user.username}}</span> </h3>
                <h3>Phone #1: <span class="success">{{user.staff.phone_one}}</span> </h3>
                <h3>Phone #2: <span class="success">{{user.staff.phone_tow}}</span> </h3>
                <h3>Degree Edu: <span class="success">{{user.staff.degree_edu}}</span> </h3>
            </div>
            <div class="info-student">
                <h3>NIC #: <span class="success">{{user.staff.idcord}}</span> </h3>
                <h3>Email: <span class="success">{{user.email}}</span> </h3>
                <h3>Address: <span class="success">{{user.staff.address_one}}</span> </h3>
                <h3>Address: <span class="success">{{user.staff.address_tow}}</span> </h3>
                <h3>Last Lohin: <span class="success">{{user.last_login}}</span> </h3>
                <h3>Chick-in: <span class="success">{{user.date_joined}}</span></h3>
            </div>

        </div>
        <div class="btns">
            {% comment %} <a class="btnu" href="{% url 'teacher-show_salary' user.id %}">Acounting</a> {% endcomment %}
            <a class="btnu" href="{% url 'staff-update' user.id %}">Update</a>
            <a class="btnd" href="{% url 'staff-delete' user.id %}">Delete</a>
        </div>
    </div>
</main>
{% endblock main %}

{% block incom %}
<a href="{% url 'staff-add' %}">
    <div class="item add-product">
        <div>
            <span class="fa fa-chalkboard-teacher icons"></span>
            <h3>Register staff</h3>
        </div>
    </div>
</a>
{% endblock incom %}
